[2017-07-17 22:54] ceholden opened #17 "QGIS 3.0 release planning"
QGIS 3.0 is scheduled to bring us Python 3 and Qt5 later this year. This issue is to get started keeping track of work needed to get us there.

Some dates from [their release schedule roadmap](https://www.qgis.org/en/site/getinvolved/development/roadmap.html#release-schedule):

* 2017-09-15: QGIS 2.99 feature freeze
* 2017-11-24: QGIS 3.0 release

@gillins has already started on Qt5 builds for QGI

[2017-07-18 14:14] ocefpaf commented on #17
I am creating a branch with the current state right now. So you can update to the latest version as soon as you are ready to do it.

[2017-08-01 06:34] gillins commented on #17
`qscintilla2` PR here: https://github.com/conda-forge/qscintilla2-feedstock/pull/10

[2017-08-03 00:48] gillins commented on #17
`qscintilla2` done and `qjson` PR here: https://github.com/conda-forge/qjson-feedstock/pull/6

[2017-08-06 20:15] msarahan opened #19 "Win/mac?"
I'm attending a school on gerrymandering: https://sites.tufts.edu/gerrymandr/

They want to teach qgis, but they direct people to download it directly.  On mac, this means system python.  Yuck.  Is there a reason why this feedstock is linux-only?  I can tackle builds for at least mac, but wanted your advance warning on any hardships I may encounter.

CC @ocefpaf

[2017-08-06 21:57] ocefpaf commented on #19
Cool!

I don't recall the issues we had with OS X, maybe @ceholden does. I just submitted #20 to help us investigate it.

I'll take a look on Windows tomorrow too.

[2017-08-07 15:37] ceholden commented on #19
Sounds very cool! There isn't any good reason for not having OS X/Windows builds. I just sadly haven't had the time for OS X and I am very inexperienced on Windows. Would love to have the help!

One potential resource for the OS X build is the Homebrew recipe that OSGEO maintains. https://github.com/OSGeo/homebrew-osgeo4mac

[2017-08-15 17:28] sukhjitsehra opened #21 "Installing qgis using conda on macOS Sierra"
I am unable to install the qgis 2.18 using the condo-forge and still getting error

  - qgis

kindly suggest

[2017-08-24 07:54] gillins commented on #17
`qtkeychain` PR here: https://github.com/conda-forge/staged-recipes/pull/3769

[2017-08-29 23:34] gillins commented on #17
So seems we are ready for `qgis` 3? I suppose we need to wait for an alpha release of `qgis` 3 we can start testing a build...

[2017-10-04 21:35] cshewmake2 commented on #21
Hello,
I am also having this issue. I noticed on the main page that you have listed a "Disabled" Flag for the OSX build. Any info about when this will be back up?
Thanks

[2017-10-23 06:28] gillins commented on #17
@ceholden any news on when there might be a `qgis` 3 alpha we can start to play with?

[2017-10-26 05:13] ceholden commented on #17
@gillins looks like the roadmap has been updated since the original post. The [updated post](https://www.qgis.org/en/site/getinvolved/development/roadmap.html#release-schedule) puts the feature freeze for 2.99 (the 3.0 development build) in at Oct 27th, with the full 3.0.0 release slated for Dec 8th.

I haven't been able to find the time to test building the development branch seriously, but I'm h

[2018-01-29 20:14] bhjolly opened #25 "Installs fine but won't run"
Tried installing into a brand new environment by itself but QGIS won't start:

$ conda create -n qgis -c conda-forge qgis
...
$ conda activate qgis
(qgis) $ qgis
Warning: loading of qgis translation failed [/home/jollyb/miniconda3/envs/qgis/share/qgis/i18n//qgis_en_NZ]
Warning: loading of qt translation failed [/opt/anaconda1anaconda2anaconda3/translations/qt_en_NZ]
Warning: Object::connect: No su

[2018-02-12 20:58] lpinner commented on #17
FYI - QGIS 3.0 release is now planned for [Feb 23](https://www.qgis.org/en/site/getinvolved/development/roadmap.html#release-schedule) and from chatter on the qgis-dev mailing list, I think that's a firm date this time.

I've been running QGIS 2.99dev (what will be 3.0) on Win (via OSGeo4W) and Linux (via the QGIS nightly repo) for a while.

Happy to help testing a conda-forge build on Win/Linux (

[2018-02-14 02:26] ceholden commented on #17
@lpinner Thank you for the update on the release schedule and your offer to be a guinea pig! I've been seeing great things from the developer blogs and this will be my last need for Python 2, so I'm wicked excited that it's getting close to release. I haven't figured out the details of how to do this, but there are now development channels (`conda-forge/label/dev`) that we could use to test releas

[2018-02-14 18:27] ceholden commented on #17
I said there'd be a surprise ahead of me, and I was technically correct. When I launched QGIS 2.99 for the first time, all the menus were blank! Luckily, this was just an issue related to the "look and feel" setting which relied on GTK+. This build doesn't know about GTK so it understandably was an issue, and switching to either "Fusion" or "Windows" style and restarting solved the issue.

Otherwi

[2018-02-15 06:09] gillins commented on #17
Well done @ceholden! I'm still keen to help with Windows and OSX but unfortunately I won't be able to do anything for the next ~3 weeks but will have a look when I can - if someone hasn't already beaten me to it.

[2018-02-16 19:40] rcprati opened #27 "installation problem"
Hi, I'm trying to install qgis in a fresh anaconda install in ubuntu but I having some troubles.

First, it conflicted with anaconda-navigator:

I then removed anaconda-navigator, and new conflicts appear:

Any clues?

[2018-02-16 23:34] ceholden commented on #27
Hi @rcprati! I'm on mobile so can't 100% confirm, but I'm pretty sure the issue stems from general incompatibilities between packages from the "defaults" channel and ones from "conda-forge" (see https://conda-forge.org/docs/conda-forge_gotchas.html). A program like QGIS with dozens of dependencies, including the GDAL stack, is pretty likely to encounter this sort of issue. Anaconda, which installs

[2018-02-25 20:06] rcprati commented on #27
Hi @ceholden, I've put condo-forge as default channel, update, and them successfully install QGIS. Thanks for the tip.

Regards,

Ronaldo
 
--

[2018-02-26 02:15] #27 closed

[2018-03-08 22:50] lpinner commented on #17
@ceholden I didn't realise you had a QGIS build in your ceholden conda channel.  Testing now.  The conda env creation went smoothly and the plugin I've been developing against 2.99 and 3.0 from the qgis.org/debian* repos seems to be working fine.

![image](https://user-images.githubusercontent.com/4827816/37180705-1be6c1c4-237e-11e8-80e4-d20eca259461.png)

[2018-03-09 00:15] lpinner commented on #17
@ceholden I get the following error on CentOS 6.9 + conda 4.4.10 with your build. Did you build using your system compiler?

[code]
I can get rid of the `libstdc++.so.6` errors by `conda install libstdcxx-ng` but that doesn't get rid of the `libc.so.6` errors.

[2018-03-09 13:18] ceholden commented on #17
@lpinner sorry for the trouble -- those builds are indeed from my own system, but I should have time to upload new ones using the conda-forge Docker build today. I have to check back in on the recipe for `qtlocation`, but `libzip` is now a feedstock.

[2018-03-14 22:11] lpinner commented on #17
@ceholden No trouble, I knew they weren't ready for general use, just thought I'd give it a go and pass on some feedback.

[2018-03-15 00:42] ceholden commented on #17
I was hoping to get some new builds up for QGIS last Friday but I ran into a very tricky problem doing things correctly with the conda-forge Docker image instead of prototyping things on my local Arch install. I'm getting a few issues with the compiler not being able to find the appropriate signature to match functions up to inside of "new style" Qt signal/slot connect/disconnect statements using

[2018-03-16 00:18] gillins commented on #17
:fearful: that is very unfortunate...

[2018-03-16 23:31] ceholden commented on #17
@gillins It feels like I jinxed myself saying, "I'm sure there's still surprises to come at me"...! Might be in a very unusual situation where it'd be easier to get a new OSX or Windows recipe going than it would be for Linux until CF shifts toward a newer GCC.

In the meantime, I got the recipe working within the CF Docker image, but using `gcc-7` package from the `QuantStack` channels and upload

[2018-03-18 04:50] gillins commented on #17
Which symbols were those? `qt` pulls in `glib` (via `gst-plugins-base`) so should link ok, but maybe there is a missing dependency in the `qt` recipe.

[2018-03-19 17:32] ceholden commented on #17
@gillins thanks for the suggestion and thoughts.

QGIS's CMake files end up passing `std=gnu++11` (and sets `CMAKE_CXX_STANDARD 11`), and I did try forcing `-std=c++11` specifically by adding it to `CMAKE_CXX_FLAGS`, but I still encountered the "no matching function call for" issue. `gcc 4.8.x` should indeed be fine with the C++11 features, but I guess there's some interaction between `gcc 4.8` an

[2018-03-20 05:09] gillins commented on #17
I had a bit of a look at `qobject.h` line ~293 (which seems to cause the C++11 error) and indeed it has changed in `qt 5.9` - `QtPrivate::QEnableIf` has been replaced with `std::enable_if` which seems to make it work under `gcc 4.8`. Very frustrating. I also played with different compiler flags but no luck...

Sounds a reasonable plan to push on with other platforms until either `gcc` or `qt` is u

[2018-03-20 05:52] lpinner commented on #17
Looks like there's some progress on the Qt 5.9 front - https://github.com/conda-forge/qt-feedstock/issues/53#issuecomment-371320162

[2018-03-20 12:18] ceholden commented on #17
@gillins thanks for tracking that down. Makes sense to me in hindsight with your explanation but I don't think I would've thought to look like you did.

I'll test out that build of Qt 5.9 from `rdonnelly` channel and see how it goes. That would bring us to differing from the QGIS CI builds by maybe only a patch version, which would be great. Thanks @lpinner!

I was able to test pairing down the yu

[2018-03-26 13:21] SrNetoChan commented on #17
One question. Will it be possible to have two versions of QGIS on the anaconda cloud? There's QGIS 2.18 which is the Long Term Release, and QGIS 3.0 which is the stable branch. If so, how is that done?
Thanks!

[2018-03-26 13:36] SrNetoChan commented on #17
BTW, AFAIK QGIS 3.0 packages for linux via ubuntugis are not using Qt5.9. That's the reason why there is no 3D support yet.

[2018-03-26 15:19] ceholden commented on #17
@SrNetoChan yes we'll be able to have all past QGIS 2 releases, including future 2.18.* LTR releases, available. This is possible on the Anaconda cloud since the builds are split up by version, but in this feedstock we'll need to keep the recipes separate with Git branches (using the `qgis-2.x` branch once we get a working recipe for QGIS 3).

Our recipe for Qt doesn't include 3D either, but it mi

[2018-03-30 10:29] Felix-neko opened #30 "Cannot correctly initialize standalone PyQGIS application with Anaconda..."
Hi all!

I've tried to use your conda package with QGIS 3.0 for Win64.

I've managed to import qgis python package with environment variable PYTHONPATH=C:/Anaconda3/pkgs/qgis-3.0.0-py36_vc14_0/Library/python , but still don't know what parameters to set in QgsApplication.setPrefixPath to correctly initialize standalone PyQGIS application (just now we cannot add any layers).

Can you tell me, what

[2018-04-20 02:34] lpinner commented on #17
@ceholden  I've managed to build a QGIS 3.0.1 package that runs on the CentOS 6.9 machine I had trouble with when trying your early test build.  Bit of a kludge, but pulling in gcc 5 and libgcc 5 from the [brown-data-science](https://anaconda.org/brown-data-science/repo) repo did the trick.  Obviously that's not something you want to do for a conda-forge recipe, but it probably confirms the issue

[2018-04-23 13:08] kylefelipe opened #32 "Update QGIS 2.18.18 to 2.18.19"
Hi, there is a way to update qgis 2.18.18 to 2.18.19?

[2018-04-23 13:11] ocefpaf commented on #32
See https://github.com/conda-forge/qgis-feedstock/pull/31

[2018-04-23 13:11] #32 closed

[2018-05-08 15:04] adamczi opened #33 "Virtualenv problem, plus local paths left in code"
Hi,
I installed miniconda2 + qgis2into my /opt folder (fresh Ubuntu 16.04.4 here), but can't run it. (I try to follow instructions to install Qgis2+3 alongside from http://narceliodesa.com/qgis-instalando-duas-versoes-diferentes-no-linux

this is what I get:

    adam@gs:/opt/miniconda2/bin$ ./qgis
    GLib-GIO-Message: 16:43:47.782: Using the 'memory' GSettings backend.  Your settings will not be

[2018-05-09 22:47] ceholden commented on #33
Hi @adamczi

If I'm understanding the main issue correctly, you want to have QGIS 2 from conda-forge while having QGS 3 from the Ubuntu repositories. Should be possible, but I think the key is that these two sources are maintained in isolation. Software compiled within the Conda (or conda-forge) ecosystem is unlikely to be compatible with your system libraries, so they shouldn't mix. For example,

[2018-05-10 16:20] adamczi commented on #33
Hi, thanks for your response. This indeed was not a problem on your side, sorry for the mess here. The key was what you suggested, to install qgis2 into an environment, which I didn't do before.

At this point QGIS 2 works, but what I found was invasive is PATH after miniconda installation - I get their `bin` path to the beginning of PATH, which I don't think they should do, so I couldn't run my Q

[2018-05-10 16:20] #33 closed

[2018-05-22 06:19] lpinner opened #35 "QGIS 3.0 Windows can't start, debug build instead of release?"
Issue:
Attempting to run qgis from a fresh conda env results in the following error dialog:

It's my (limited) understanding that VCRUNTIME140D.dll is part of the non-redistributable debug runtime and is required when a project is built in debug mode instead of release mode.

Environment (<code>conda list</code>):

Windows 7 (Enterprise)

[code]

Details about  <code>conda</code> and system ( <cod

[2018-05-23 09:57] SrNetoChan commented on #17
@ceholden  So, currently master is building qgis 3.0.2 for windows, hurrey!!

But it seems that Linux is still on qgis 2.18.19. and it only builds with conda2

How can I update it to 2.18.20? It's time to put the qgis-2.x working right?

Do I merge until the last point where 2.18.19 was updated? Is it possible to provide Windows as well there? I would love to help you could give me some pointers.

[2018-07-31 22:54] lpinner commented on #35
I've now tried all win-64 (inc. the slightly newer qgis-3.0.2-py35hde6f369_1.tar.bz2) packages, on a brand new PC (still Win7 Enterprise) with a fresh standalone miniconda (4.5.4) install and get the same error:

![image](https://user-images.githubusercontent.com/4827816/43491468-0bcf0876-9568-11e8-9f86-a8276fbfa237.png)

[2018-08-11 19:48] scopatz opened #40 "No Python 3 packages available on Linux"
Issue: as title

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</details>

[2018-09-12 15:17] ougx opened #43 "Could not load qgis_app.dll"
Issue:
Could not load qgis_app.dll
![image](https://user-images.githubusercontent.com/5205922/45434881-040a1a80-b675-11e8-8e0a-447652cc85aa.png)
<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</details>

[2018-09-13 19:11] mhweber commented on #43
Exact same issue - also unanswered on [Stack Overflow](https://stackoverflow.com/questions/52018256/qgis-3-0-2-in-anaconda-navigator#comment91587053_52018256)

My environment (<code>conda list</code>):</p>
<details open="">
<pre><code>$ conda list
# packages in environment at C:\Users\mweber\Anaconda\envs\qgis:
#
# Name                    Version                   Build  Channel
asn1crypto

[2018-10-02 09:47] ghareth commented on #43
I am having the same problem. I am trying to install on in Macbook Parallels.  The error is reported when trying to run the OSGEO4W installation as well.

On my other PC, installation runs perfectly with no issues.

[2018-10-16 12:00] mamouthautapis commented on #43
Having the exact same problem with OSGEO4W installer on Windows 10 after uninstall.

[2018-10-16 15:20] romainbh commented on #43
After an update with OSGeo4Wx64 yesterday, same error message on Windows10 x64 with QGIS 3.2.3-2 with/without GRASS. But 2.18 works fine.

[2018-11-26 06:59] zouhx11 commented on #43
Same problem.

[2018-12-21 22:20] michaeltryby opened #44 "Update recipe to new QGIS LTR v3.4.2"
Issue: It would be great if this recipe were updated to the new QGIS LTR v3.4.2.

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</details>

[2019-01-10 13:59] sigbikes commented on #43
I'm a completely neophyte to .env files but I have QGIS 3.4 installed from the a windows package installation and the qgis-bin.env file has the following contents. Perhaps someone with more knowledge than I could edit it to be a qgis.env version:

PATH=C:\PROGRA~1\QGIS3~1.4\apps\qgis\bin;C:\PROGRA~1\QGIS3~1.4\apps\Python37;C:\PROGRA~1\QGIS3~1.4\apps\Python37\Scripts;C:\PROGRA~1\QGIS3~1.4\apps\qt5\

[2019-03-19 14:20] ceholden commented on #44
Pretty close to merging #45, which should close this issue and make QGIS available on 3 platforms (Mac/Linux/Windows) for the first time with 3.4.5 (or 3.4.6). Going to close this now if you don't mind

[2019-03-19 14:20] #44 closed

[2019-03-19 14:58] michaeltryby commented on #44
@ceholden This is fantastic! Thanks so much!

[2019-03-27 18:54] ceholden commented on #40
Hi folks sorry for the silence on this. QGIS2 only supported Py2, and it's been quite the task to get QGIS3 working...

I just merged the recipe for the latest LTR build -- QGIS 3.4.6 -- which is also now available on Linux/Mac/Windows as well. There's a few minor caveats right now that I wrote up them up in the PR (see the long comment history for more details...)

https://github.com/conda-forge/

[2019-03-27 18:54] #40 closed

[2019-03-27 19:06] ceholden commented on #19
We finally have builds for Mac/Windows for QGIS 3.4 :tada:! There's a few caveats right now that I summarized in the PR for the recipe (full gory details in the PR...)

https://github.com/conda-forge/qgis-feedstock/pull/45#issuecomment-477300713

Hope they're of use going forward at least!

[2019-03-27 19:06] #19 closed

[2019-03-27 19:08] ceholden commented on #21
We never got a working recipe going for QGIS2 for Mac/Windows, but we finally have builds for Mac/Windows for QGIS 3.4 :tada:! There's a few caveats right now that I summarized in the PR for the recipe (full gory details in the PR...)

https://github.com/conda-forge/qgis-feedstock/pull/45#issuecomment-477300713

[2019-03-27 19:08] #21 closed

[2019-03-27 19:09] ceholden commented on #17
We finally have builds for Linux/Mac/Windows for QGIS 3.4 :tada:! There's a few caveats right now that I summarized in the PR for the recipe (full gory details in the PR...)

https://github.com/conda-forge/qgis-feedstock/pull/45#issuecomment-477300713

[2019-03-27 19:09] #17 closed

[2019-03-27 19:16] ceholden commented on #44
Sorry things too longer than expected, but the builds are up now for QGIS 3.4.6. There's a few minor caveats right now that I wrote up them up in the PR (see the long comment history for more details...)

https://github.com/conda-forge/qgis-feedstock/pull/45#issuecomment-477300713

[2019-03-28 12:25] SrNetoChan opened #46 "Recipe for 3.6?"
@ceholden @ocefpaf

This is not actually an issue. It's more of a question. As you know QGIS has an LTR version (now 3.4), and stable version (3.6). In a month the stable branch will become 3.8, while QGIS 3.4 will the RTL.

Can we keep a recipe for both version, do we need a separate branch in the feedstock, how does that work?

[2019-03-28 13:00] ocefpaf commented on #46
The best way to handle that is with branches.

On Thu, Mar 28, 2019, 09:25 Alexandre Neto <notifications@github.com> wrote:

[2019-03-28 13:45] elpaso opened #47 "Maybe include <functional> upstream"
https://github.com/conda-forge/qgis-feedstock/blob/0d94ff5f5dc085a5bc5db86408da180d0d70c79a/recipe/patches/0005-include-functional.patch#L19

What platform was it included for?

[2019-03-28 13:52] SrNetoChan commented on #46
So, we create a branch for let's say LTR and master can be the stable one or vice versa. How do we make conda-forge build the different branches?

[2019-03-28 13:55] ocefpaf commented on #46
Yep. I can create the branches. BTW, we already have the `qgis-2.x` branch but I guess that master (stable) and LTR (the 3.6 version now) is better.

Just send PRs to the branch and they'll build and upload the same as master.

[2019-03-28 13:58] ocefpaf commented on #46
Done. See https://github.com/conda-forge/qgis-feedstock/tree/LTR

[2019-03-28 14:14] SrNetoChan commented on #46
Thanks. In this case, we can bump master to 3.6.1 and keep the LTR at 3.4.x already provided a PR for that.

[2019-03-28 14:16] SrNetoChan commented on #46
If you don't mind I will add myself as a maintainer. I can keep an eye on new releases and update the recipes. If anything gets broken, then I will be blocked :-P

[2019-03-28 16:12] ceholden commented on #47
Would love to get that upstream! Been meaning to submit a few issues/questions now the recipe builds but a little out of steam just now.

The patch is needed to build on Linux (GCC7 - see [transition notes](https://www.gnu.org/software/gcc/gcc-7/porting_to.html)) and was also needed on Windows (Visual Studio 14). It wasn't needed on Mac (Clang 4.0) but I left it applied on this platform anyway

[2019-03-28 16:22] elpaso commented on #47
I can build and test on Linux (clang) and windows (MSVC) and I'd be happy to review if you want to make a PR upstream.

[2019-04-02 16:28] ceholden commented on #47
Merged upstream and backported to LTR version so we can remove our patch in the next version. Thanks!

[2019-04-02 16:28] #47 closed

[2019-04-02 16:31] elpaso commented on #47
@elpaso thank you! Sorry I didn't have time to review but I see other core devs helped :)

[2019-04-27 15:30] #46 closed

[2019-05-02 00:03] mhweber commented on #43
Would love to see solution on this! Tried several times over several months, no solutions here or on Stack Overflow - I've tried configuring the .env file in various ways but nothing so far has worked on multiple machines...

[2019-05-02 01:47] gillins commented on #25
Hi @bhjolly :smile:. I assume this is fixed in the latest build. Please re-open if not.

[2019-05-02 01:48] #25 closed

[2019-05-02 03:28] gillins commented on #43
Please install `qgis` in a new environment so 1) you don't get a mix of Anaconda and conda-forge packages in the same env, and 2) so the activation scripts get run.
[code]
works for me on Windows. Reopen this if you are still having trouble.

[2019-05-02 03:31] gillins commented on #35
This appears to be fixed in the latest build. Re-open if you are still having trouble.

[2019-05-02 03:31] #35 closed

[2019-05-02 03:33] gillins commented on #30
This appears to be fixed with the latest build. You need to install `qgis` into a separate environment and activate first it so the appropriate environment gets set.

[2019-05-02 03:33] #30 closed

[2019-05-02 05:44] lpinner commented on #35
No change for me.

Dependency walker shows it's related to zip.dll:

![image](https://user-images.githubusercontent.com/4827816/57058104-2aa6bf80-6cf1-11e9-98d8-784b5040059e.png)

[2019-05-02 07:23] gillins commented on #35
You are indeed correct! I must have the debug libs installed. I've submitted a PR to `libzip`: https://github.com/conda-forge/libzip-feedstock/pull/13 to fix this.

[2019-05-02 16:48] mhweber commented on #43
Thanks, I've tried that approach on a couple machines running windows several times, same issue as original issue when thread opened - I ran:
`conda create -n testgis qgis
conda activate testqgis
qgis
`

And I get this every time:
![image](https://user-images.githubusercontent.com/7387892/57091604-7429e700-6cbe-11e9-9387-9f06ebc66659.png)

I can't reopen since not a contributor, but could open new

[2019-05-02 16:53] kmuehlbauer commented on #43
@mhweber Is this just a typo, or is `conda list` from `qgis` env instead of `testgis`?

[2019-05-02 16:58] mhweber commented on #43
@kmuehlbauer , sorry, just a typo, I'd repurposed my `conda list` from earlier comment, but it is definitely from `testqgis` env.

[2019-05-02 17:03] kmuehlbauer commented on #43
@mhweber I have no real experience with windows OS, but `proj4` is pulled from defaults channel instead of conda-forge. Do you have strict channel dependency activated? Could you try to install proj4 from conda-forge and see, if that fixes it?

[2019-05-02 18:00] mhweber commented on #43
Installed again with `proj4` from `conda-forge`, same qgis_app.dll error pops up when trying to start `qgis` unfortunately. I will continue to tinker with and see if I can find a solution.

`conda list`

<details open="">
<pre><code># packages in environment at C:\Users\mweber\AppData\Local\Continuum\anaconda3\envs\testqgis:
#
# Name                    Version                   Build  Channel
asn1

[2019-05-02 18:25] kmuehlbauer commented on #43
@mhweber proj4 ha925a31_1 is from anaconda-defaults channel, not conda-forge.

[2019-05-02 18:28] kmuehlbauer commented on #43
Try: `conda install proj4 -c conda-forge --override-channels`

[2019-05-02 19:20] mhweber commented on #43
Thanks @kmuehlbauer - I've had no luck so far - when I do this, `qgis` is uninstalled.  I reinstall `qgis`, and I can get `proj4` back from `conda-forge` using `conda install proj4=6.0.0`, but then `libgdal` is downgraded.  If I then try to install `libgdal` again from `conda-forge`, it tries to downgrade `proj4`.

Additionally I get:
<code>Executing transaction: / WARNING conda.core.link:run_scri

[2019-05-02 19:44] kmuehlbauer commented on #43
@mhweber Welcome to dependency hell, :sad: Your condarc looks OK. We really need someone with profound knowledge of Windows OS. @gillins do you have any suggestions?

[2019-05-02 22:05] gillins commented on #43
I suspect this is actually the same issue as this: https://github.com/conda-forge/qgis-feedstock/issues/35. When https://github.com/conda-forge/libzip-feedstock/pull/13 is merged we will be able to confirm.

In the meantime you can install http://www.dependencywalker.com/ and launch it in your qgis environment and see what is missing (hopefully the same problem is `zip.dll` mentioned in #35 but th

[2019-05-03 15:45] mhweber commented on #43
Not sure if this helps - no `QGIS_APP.DLL` in dependency walker at all under `QGIS.EXE` - issues in `KERNEL32.DLL` and `USER32.DLL`?

![image](https://user-images.githubusercontent.com/7387892/57113131-1619f580-6cf8-11e9-8211-e31bbb3e771e.png)
![image](https://user-images.githubusercontent.com/7387892/57113153-25993e80-6cf8-11e9-86da-de8178d2d8d4.png)
![image](https://user-images.githubusercontent

[2019-05-06 07:31] gillins commented on #43
Seems `qgis` loads `qgis_app.dll` [dynamically](https://github.com/qgis/QGIS/blob/b3d2619976a69d7fb67b884492da491dfaba287c/src/app/mainwin.cpp#L134). Can you open `qgis_app.dll` in dependency walker and see what is going on?

Don't worry about `user32.dll`, `kernel32` etc - they are system libs and they always load regardless. I think it is something about they newer delay load feature in Windows

[2019-05-06 16:08] mhweber commented on #43
@gillins - here is screenshot of opening qgis_app.dll in dependency walker - I can drill into certain module(s) if helpful - I'm pretty unfamiliar with digging into these dependencies in windows.

![image](https://user-images.githubusercontent.com/7387892/57238398-270b8500-6fde-11e9-9158-0a4995a4a0dc.png)

[2019-05-06 22:14] gillins commented on #43
Thanks @mhweber https://github.com/conda-forge/libzip-feedstock/pull/13 has been merged so can you try a `conda update libzip` and see if this resolves your issue?

Otherwise, if you are still getting errors can you try and work out which library is causing the error with dependency walker? Problem libraries should be highlighted.

[2019-05-06 22:16] gillins commented on #35
https://github.com/conda-forge/libzip-feedstock/pull/13 has been merged. Can you do a `conda update libzip` and confirm that this problem has been resolved? Thanks.

[2019-05-06 23:19] mhweber commented on #43
@gillins  - Success!! Thank you-

[2019-05-07 00:10] #43 closed

[2019-05-08 16:07] ceholden opened #55 "QGIS 3.4 LTR branch linux failure"
Opening this to track fixing the Linux build for the 3.4 LTR branch. @SrNetoChan got the branch building on Azure by pushing a commit, but it failed on Linux. The issue was caused by a difference of openssl versions between the build and host environment.

I'm pretty sure this is due to the `qca` feedstock bringing in the wrong version because it hadn't been rerendered for `openssl=1.1`. I need to

[2019-05-08 16:59] SrNetoChan commented on #55
Great. Thanks. I will check the changes you make on qca, maybe I can learn in the process. Thanks.

[2019-05-08 23:28] lpinner commented on #35
Yep, that fixed it.

[2019-05-08 23:52] lpinner opened #56 "QGIS 3.4 LTR Windows Python error"
Issue: Opening QGIS results in the following exception and python support is disabled.

[code]
However, importing numpy from python interpreter in the activated env works as expected.

Comparing the PATH environment variables between the activated env (`echo %PATH%`) and QGIS (Settings|Options|System|Environment):

- env %PATH%: `C:\Temp\conda\envs\qgis3;C:\Temp\conda\envs\qgis3\Library\mingw-w64\

[2019-05-09 00:47] lpinner commented on #56
@conda-forge-admin, please rerender

[2019-05-09 00:47] conda-forge-linter commented on #56
Hi! This is the friendly automated conda-forge-webservice.

I just wanted to let you know that I rerendered the recipe in conda-forge/qgis-feedstock#58.

[2019-05-23 05:57] lpinner commented on #55
Is this why the currently available linux build won't run?

[code]

[2019-05-25 12:16] #56 closed

[2019-05-25 13:22] ocefpaf commented on #55
I believe this is solved now with #66, right? If not please re-open.

[2019-05-25 13:22] #55 closed

[2019-05-28 09:11] SrNetoChan opened #68 "Missing PyQt5 and Webkit dependencies"
Issue:

When opening QGIS 3.4.8 LTR from conda installation, several plugins complained about missing dependencies, one of the plugins asks the user to install pythos3-pyqt5.qtwebkit

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</details>

[2019-05-29 01:56] gillins commented on #68
@SrNetoChan I think the `qgis` plugin installs are going to be a bit problematic for us. We can't be expected to install dependencies for every possible plugin. One thing we could do is provide conda packages for commonly used plugins and we could then capture the dependencies for each one. Just my 2 cents.

Which plugins are you having trouble with?

Webkit is being retired in favour of WebEngine

[2019-05-29 09:52] SrNetoChan commented on #68
Hi @gillins I got problems with several plugins, namely:

- qgis2threejs
- dataplotly
- QGIS Resource sharing
- qgis2web

Disclaimer: I am neither a core developer or a true package manager. Just a QGIS Poweruser, tester and documentarian. Therefore, my comments may not be valid :-)

I agree that we should not care about plugins dependecies, but it seems that those plugins work fine both on normal

[2019-06-04 16:00] jakimowb opened #71 "Could not load qgis_app.dll"
I installed QGIS from the conda-forge channel into a new miniconda installation (see https://gisunchained.wordpress.com/2019/05/29/using-qgis-from-conda/)

Starting QGIS via:

raises a _Could not load qgis_app.dll_ error.
![qgis_app_error](https://user-images.githubusercontent.com/1404870/58792859-473a5e00-85f5-11e9-9718-e1912e1e0946.png)

However, the PATH settings seem to be correct, as _qgis_ap

[2019-06-05 23:05] gillins commented on #71
Can you post the output of `conda list`? Seems ok for me with `qgis` 3.6

[2019-06-11 20:58] mccarthyryanc opened #72 "Error connecting to MSSQL"
Issue:
Error when trying to connect to MSSQL database:
[code]

Steps to Reproduce:
1. MSSQL > New Connection ..
2. Filled in `Host`
3. Unchecked "Trusted connection"
4. Entered a username and password
5. Clicked `List Databases` and `Test Connection`, both result in error.

I tested the same host/creds using pymssql (freetds) from the QGIS python console and was able to connect and make queries.

[2019-06-12 21:51] ceholden commented on #72
Hi @mccarthyryanc -- I haven't used MSSQL before so apologies if I'm incorrect, but I'm pretty sure what's going on here is that QGIS depends on Qt for the MSSQL support, and our build of Qt doesn't generate this component. Specifically, Qt uses the Open Database Connectivity (ODBC) driver for MSSQL connections which isn't in our Linux/Mac builds but is included on Windows.

[According to the Qt d

[2019-06-13 13:24] ocefpaf commented on #72
I believe it is OK. Do you want to send a PR to the `Qt` feedstock?

[2019-06-13 13:24] ocefpaf commented on #72
Also, if the `Qt` team rejects the idea we can create a variant for it. But let's keep that as a plan B.

[2019-06-14 19:36] ceholden commented on #72
Thanks for the thoughts, @ocefpaf. Sounds like a plan. I should have some time to work on getting a PR to the Qt feedstock this weekend (assuming adding it in is straightforward...)

[2019-06-17 16:29] ocefpaf commented on #72
Ping me if you need anything.

Nothing that is Qt related is straightforward :-(

[2019-06-25 19:31] ceholden commented on #72
How true :cry:... haven't made much headway beyond being able to build qt and have it fail the first test.
[code]

Can't get it to pass this test whether I modify the recipe to include `unixodbc` or not. I suppose that the build got through building against the `unixodbc` stuff and failed just the same as unmodified is okay news. Will try to create a separate recipe

[2019-06-27 19:01] dakcarto opened #77 "Patch can be removed on 3.8.1 release"
Just a quick note that the following patch can be dropped on next release (v3.8.1):
[patches/0008-mac-dark-theme.patch ](https://github.com/conda-forge/qgis-feedstock/blob/master/recipe/meta.yaml#L27-L28)

I have committed the change to both [release-3_8](https://github.com/qgis/QGIS/pull/30424) and [master](https://github.com/qgis/QGIS/pull/30422) branches.

[2019-06-27 19:05] dakcarto commented on #68
@gillins wrote:

This is not really the case for QGIS:
https://github.com/qgis/QGIS/blob/master/CMakeLists.txt#L335-L341

and some functionality _depends_ upon it (currently checking if this is still true):
http://osgeo-org.1560.x6.nabble.com/QGIS-Developer-qgis2web-and-qtwebkit-tp5378226p5378445.html

Synopsis is:
- QGIS _can_ compile without it, and against just QtWebEngine
- QGIS full functiona

[2019-06-27 20:41] dakcarto commented on #68
Also, I have gotten this [`qtwebkit` package compiling for Windows](https://github.com/osgeo-forge/qtwebkit-feedstock/tree/5.9.0). The `qgis-common` package [setup.hint](https://download.osgeo.org/osgeo4w/x86_64/release/qgis/qgis-common/setup.hint) for OSGeo4W also [depends](https://download.osgeo.org/osgeo4w/x86_64/release/qgis/qgis-common/setup.hint) upon its [`qtwebkit-qt5-libs` package](https:

[2019-06-27 23:22] nyalldawson commented on #68
@gillins

Unfortunately webengine is still very limited in the functionality it exposes vs qtwebkit. QGIS (and some plugins) can't port to webengine because the required api just isn't available in webengine.

QGIS still requires webkit. There's a build-time switch which disables it, but that's just a hack to allow a build to work. The resultant QGIS build will be missing core functionality as a r

[2019-06-28 04:47] gillins commented on #68
I'm happy to for `qtwebkit` to be un-archived if you can get it compiling. I remember that we were having some trouble getting it to build esp. on OSX which made us hopeful it could be retired. Didn't realise that QGIS still needed it...

[2019-07-02 20:37] dakcarto commented on #68
@gillins, thanks for the reply. If the `qtwebkit` repo is unarchived, I am willing to try and work out any issues with building on macOS and Windows. Do we need to contact @ocefpaf for this, or can you unarchive the repo yourself?

[2019-07-02 22:43] gillins commented on #68
I think @ocefpaf has to do it (well if I can do it I can't work out how)....

[2019-07-02 22:46] ocefpaf commented on #68
Done. See https://github.com/conda-forge/qtwebkit-feedstock

Nope. It has to be a core member.

[2019-07-02 22:53] gillins commented on #68
Thanks @ocefpaf !

[2019-07-17 16:42] kylefelipe opened #79 "Qgis 2.18 error - Ubuntu"
Hi, im trying to install qgis 2.18.19 and miniconda is prompting the follow message.

$ conda install qgis=2.18.18
Collecting package metadata (current_repodata.json): done
Solving environment: failed
Collecting package metadata (repodata.json): done
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - qgis=2.18.18 -> dateutil

Cu

[2019-07-17 16:48] ocefpaf commented on #79
This is probably related to the removal of `free` from the `defaults` channel.
See https://www.anaconda.com/why-we-removed-the-free-channel-in-conda-4-7/

You can install a newer version of `qgis` that does not depend on `free` or you can follow the instructions in the blog post above to re-add free.

[2019-07-17 16:48] #79 closed

[2019-07-23 12:54] kylefelipe opened #82 "Add Qgis 2.18.28"
Hi!
Here in company, we still use qgis 2.18, due to some issues with Qgis 3.4/3.8.
It's possible add the last version 2.18.28 to the repository?

[2019-07-23 15:33] ocefpaf commented on #82
Sure. If you send a PR adding it we can create a maintenance branch.
Closing this b/c it is a package request that requires a volunteer to do it. Not really a problem for the current team to address.

[2019-07-23 15:33] #82 closed

[2019-07-23 15:34] ocefpaf commented on #77
Done in https://github.com/conda-forge/qgis-feedstock/pull/80/commits/bdf323508e068f538af6b36506c730c8b2e052b1

[2019-07-23 15:34] #77 closed

[2019-07-25 18:38] kylefelipe commented on #82
Have some tutorial to do this??
I want to volunteer.

[2019-07-25 18:44] ocefpaf commented on #82
If you are familiar with git/github and qgis build you can start with https://conda-forge.org/docs/maintainer/adding_pkgs.html

[2019-08-09 00:05] gillins commented on #68
@dakcarto any luck getting this working?

[2019-09-11 09:04] Djedouas commented on #71
Same issue for me, with QGIS 3.4.9 on a newly created conda environment...

<details>
<summary>My conda list output</summary>

[code]

</details>

[2019-09-13 20:09] juanmanuelrq opened #89 "Missing “New 3D Map View”"
I was really curious about the new 3D-Map-View function of QGIS3. Now, finally, QGIS3 just released but I'm missing the 3D Map View! It should be at View -> New 3D Map View but it isn't.

[2019-09-16 23:39] gillins commented on #71
I think this is this issue: https://github.com/conda-forge/geos-feedstock/issues/39 which has now been fixed. Can you update to the latest `geos` (build 2) and re-open this if the problem persists?

[2019-09-16 23:42] gillins commented on #89
@ceholden do you know why we currently build with `WITH_3D=FALSE` (https://github.com/conda-forge/qgis-feedstock/blob/master/recipe/build.sh#L45) ? I suspect this controls the 3d functionality. Maybe not all the needed `qt` libs are available for this?

[2019-10-23 04:30] kylefelipe opened #92 "Cannot open shared object libspatialindex.so.5"
Hi i was updating qgis 3.8.2 to Qgis 3.8.3 yesterday and its prompts the follow issue when i try to init qgis

qgis: error while loading shared libraries: libspatialindex.so.5: cannot open shared object file: No such file or directory

S.O: Debian stretch.
conda --version = conda 4.7.12

[2019-10-23 11:36] ocefpaf commented on #92
Can you please add the required debug info, the results of `conda list` and `conda info -a`

[2019-10-25 15:16] kylefelipe commented on #92
Sorry....
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main
asn1crypto                1.2.0                    py37_0    conda-forge
atk                       2.32.0               haf93ef1_0    conda-forge
boost-cpp                 1.70.0               h8e57a91_2    conda-forge
bzip2                     1.0.8

[2019-10-28 20:37] ThomasG77 commented on #92
I had to cheat e.g

[code]
You need to adapt path depending of your conda environment

How I found out?
Run `updatedb` then `locate libspatialindex.so` You should find a `libspatialindex.so.6` but no `libspatialindex.so.5`. I've choose to go the dirty way (symlinking...)

[2019-10-29 13:46] ocefpaf commented on #92
Looks like the soname changed in the latest `libspatialindex` version and we need to pin it. @ThomasG77, your solution is OK and newer builds of `qgis` will also pick the new `libspatialindex`, but we need to fix this "for good" in `conda-forge`. Working on it...

[2019-10-29 13:46] #92 closed

[2019-10-29 17:09] ocefpaf commented on #92
Long term fix in https://github.com/conda-forge/conda-forge-pinning-feedstock/pull/315

[2019-11-13 10:54] SrNetoChan commented on #71
I have tried to install QGIS using windows and I got the same error as above. This is my conda list output:

[code]

[2019-11-13 11:02] SrNetoChan commented on #71
Besides, the offending library seems to be in the right place and PATH should be able to find it.

[code]

[2019-11-13 11:09] jef-n commented on #71
qgis_app.dll probably cannot be loaded because some of it's dependencies are missing and not because the dll itself isn't found.  In qgis_app.log above it's for instance the missing `libeay32.dll` (of openssl 1.0) which `zip.dll` needs, which `qgis_core.dll` needs, which `qgis_app.dll` needs.

[2019-11-13 11:35] SrNetoChan commented on #71
Not sure if related, but trying to run gdalinfo gives the following error:

![image](https://user-images.githubusercontent.com/3607161/68758310-812c7900-0605-11ea-94b1-56e771feee62.png)

[2019-11-14 01:24] gillins commented on #71
@SrNetoChan can you install http://www.dependencywalker.com/ and run it on `qgis_app.dll` and find which DLL is dependent on `VCRUNTIME140D.dll`. You should get an error and it will take you right there. Seems one or more components are built in debug mode (hence the 'D') which is bad news on Windows as we can't assume the user has the debug runtimes installed.

I happen to have the debug runtimes

[2019-11-14 01:32] isuruf commented on #71
No, but we should fix the false positives in the warnings in conda-build at the end and make warnings errors. See the warnings in a windows build at https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=92792

[2019-11-14 01:55] gillins commented on #71
I can't see any messages about `vcruntime140d.dll`. Should there be?

[2019-11-14 01:57] isuruf commented on #71
If this package was linking to `vcruntime140d.dll` then there should be.

[2019-11-14 01:58] gillins commented on #71
I think it is one of the dependencies of `qgis`. I'll try and have a look.

[2019-11-14 06:21] gillins commented on #71
`zstd.dll` appears to be the problem. Can you confirm @SrNetoChan ?

[2019-11-14 06:33] gillins commented on #71
I think this problem is fixed here: https://github.com/conda-forge/zstd-feedstock/commit/cfe288c8c63b613b0967b1adf1416c48ea919e95. Seems we need to wait for the `zstd` pinning to be updated to 1.4.4?

[2019-11-14 14:11] SrNetoChan commented on #71
@gillins this is the output of dependency walker om qgis_app.dll

https://drive.google.com/file/d/1QNjNehbye9a9lR2SHZJ1rYFgL-xUqQf8/view?usp=sharing

[2019-11-14 22:12] gillins commented on #71
Thanks @SrNetoChan seems to confirm only `zstd` is linked to `vcruntime140d.dll`.
@ocefpaf any plans to repin `zstd` to 1.4.4?

[2019-11-15 00:35] SrNetoChan commented on #71
Glad you were able to understand that from the file. For me it's almost Chinese.

[2019-11-15 00:39] gillins commented on #71
Yep it's a nightmare, but the trick was to search for `vcruntime140d.dll` (line 39011) then scroll up to see which DLL was linked to it (`zstd.dll`). I'm not sure why there isn't a simple `ldd` on Windows....

[2019-11-15 19:41] ocefpaf commented on #71
Most of the time it is for me too :smile:

Done in https://github.com/conda-forge/conda-forge-pinning-feedstock/pull/334

[2019-11-16 04:24] gillins commented on #71
Thanks @ocefpaf !
@SrNetoChan can you confirm this is now fixed? `libtiff` appears to be rebuilt so should pull in the fixed `zstd`...

[2019-11-18 07:28] Djedouas commented on #71
Following the issue since @SrNetoChan reopened it, having the same problem. Now it's fixed after a `conda update libtiff`which updated `zstd` ! QGIS opens correctly and no more dll error.
Thanks ! 👍
On Windows 10, QGIS 3.10

[2019-11-18 09:16] SrNetoChan commented on #71
So, no need for rebuilding qgis?

[2019-11-18 09:34] Djedouas commented on #71
@SrNetoChan Last week I created a new environment with `conda create` then `conda install qgis` in the new env, then I got the error about the dll.
Today I only had to do a `conda update libtiff`to fix the issue.

[2019-11-18 11:02] gillins commented on #71
No, Windows error message is a bit misleading. Problem was with `zstd.dll`, which is loaded by `tiff.dll` which is loaded by `gdal.dll` which is loaded by `qgis_app.dll`... Welcome to DLL Hell.

[2019-11-18 11:02] #71 closed

[2019-12-03 15:49] SrNetoChan commented on #68
Any news about this? Using QGIS without Webkit is a no go for most people.

[2020-01-12 16:47] jakimowb opened #107 "CRS(1): Could not open CRS database"
Issue:

I installed the conda-forge qgis with miniconda as described in http://planet.qgis.org/planet/user/22/tag/conda/

The following python example causes multiple `CRS(1): Could not open CRS database F:/miniconda3/envs/qgis_stable/./resources/srs.db` error on Windows 10:

[code]

Printout PyCharm debug console:

[code]

The errors can be avoided when changing the QGS Package data path to the `

[2020-01-13 22:22] gillins commented on #107
Maybe we need to set `QGIS_DATA_SUBDIR` to `Library` during the build on Windows?

[2020-01-14 04:57] gillins commented on #107
@jakimowb can you suggest an extra test for https://github.com/conda-forge/qgis-feedstock/blob/master/recipe/test_py_qgis.py that raises an error if `srs.db` is not found?

I can then have a go at changing the build, and knowing it's fixed if the tests pass... Thanks.

[2020-01-17 11:26] jakimowb commented on #107
@gillins is that okay? That's my first PR on github.

[2020-01-20 22:33] gillins commented on #107
See #108

[2020-01-20 22:33] #107 closed

[2020-03-22 00:23] SrNetoChan commented on #89
@gillins I think you are right and PyQt Webkit is needed. I will give it a try once the recent version build is green and merged.

[2020-03-29 17:55] DJSUBHAOO7 commented on #43
1. Remove installed qgis
`conda remove qgis --force`
2. Reinstall qgis from
`conda install -c conda-forge/label/broken qgis`

It works for me.

[2020-03-31 12:15] ThomasG77 commented on #68
For me too, Qgis from Conda breaks QGIS when using composer. I can't render HTML content from `QgsLayoutItemLabel` when ticking render as HTML and it also fails when I try to use HTML within `QgsLayoutItemHtml` (I'm able to add the component but not to complete the HTML box).
Not including Webkit breaks these QGIS core functionalities (already mentioned by @dakcarto link http://osgeo-org.1560.x6.n

[2020-03-31 22:12] gillins commented on #68
@ThomasG77 We need https://github.com/conda-forge/qtwebkit-feedstock building first, but I don't think anyone has had the time. Is this something you could look into?

[2020-03-31 23:41] dakcarto commented on #68
Oh wow, I totally forgot about this. Sorry.

I'm doing a custom build of conda-forge's `qt` 5.12 tonight. I might be able to start in on `qtwebkit` as well. However, there is only the [dev source code for 5.12 now](https://github.com/qt/qtwebkit/releases), not [like for 5.9.x](http://download.qt.io/community_releases/5.9/5.9.0-final/). This is what I used for building `qtwebkit` for [Windows a whi

[2020-04-22 00:36] mccarthyryanc commented on #72
@ceholden , it's been a while and I kind of lost track of this. Any chance you've had success in a separate recipe?

[2020-06-19 10:55] s-m-e opened #125 "Seeking feedback: QEP 179, Turning Plugin Management into Actual Package Management"
I hope this is the right place to ask - my apologies if it is not: I am currently running a [QGIS Enhancement Proposal (QEP) for turning plugin management into actual package management](https://github.com/qgis/QGIS-Enhancement-Proposals/issues/179). As part of this process, I am looking for projects within the QGIS ecosystem which could significantly benefit from the proposed ideas and concepts.

[2020-06-19 13:11] ocefpaf commented on #125
This is the right place and thanks for bringing this up!

My opinion strictly as a packager I have to say that this is an awesome idea! However, I'm not a heavy QGIS user to comment if this makes sense for them.

What I can say is: if you aim for PyPI/wheels we should be good on the conda side. There is nothing conda specific that would prevent us to just use the published PyPI package here. In fa

[2020-08-05 04:17] gillins commented on #68
@dakcarto are we still waiting for a final release of `qtwebkit` 5.12 before doing this? Were you able to get one of the alphas building?

[2020-08-19 15:36] ocefpaf opened #139 "Master is failing on Windows after #137 was merged"
Thw error us:

[code]

We need to check what change from the time it was merged to the time this run again to figure what the reason for the failure.

[2020-08-19 16:27] ocefpaf commented on #139
The only striking different is that the passing build had `conda-build-3.19.2-py36h9f0ad1d_3` and the failing one used `conda-build-3.19.2-py36h9f0ad1d_4`. @isuruf are you aware of any changes in that build number 4 that could have caused this?

[2020-08-20 10:59] SrNetoChan commented on #139
OSX with python 3.8 also constantly hit the 6 hours time out. I was also working fine when it was merged.

[2020-08-25 14:59] AndrewAnnex opened #141 "macos UI quirks"
Issue: UI quirks on macos

on MacOS, the GUI exhibits sporadic issues with simple things such as collapsing or hiding elements in the Layers panel, the buttons in the Layers panel, or the vertex editing tool not working at all (verticies highlight in red but cannot be moved or deleted. Some buttons work and others don't even indicate they were clicked. I was able to find a work around at one point

[2020-08-25 15:01] AndrewAnnex commented on #141
my only thought would be that this is some issue with the Qt dependencies installed via pip, I want to be able to use the Ipython plugin for qgis which requires jupyter==1.0.0 and qtconsole to be installed

[2020-08-26 22:44] gillins commented on #141
So - does this happen without the pip dependencies installed?

[2020-08-27 12:46] AndrewAnnex commented on #141
well... it broke my qgis installation is what it did. First I used pip to uninstall pyqt5-sip, pyqtwebengine, pyqtchart, which disabled the plugins and prevented any installed plugins from working (but the ui was fixed)

then I attempted to reinstall those dependencies using the exact versions in the log above and now qgis  crashes on boot due to some character encoding issue?

[code]

[2020-08-27 12:58] AndrewAnnex commented on #141
a fresh conda environment however seems to have fixed it. I think I am just resigned to not be able to use the ipython plugin for this qgis feedstock until the various QT projects are available in the conda forge so I will close this issue for now

[2020-08-27 12:58] #141 closed

[2020-09-22 17:45] ocefpaf commented on #139
@SrNetoChan sorry but I lost track of this. Was it resolved or do we need to restart some jobs?

[2020-09-22 17:52] SrNetoChan commented on #139
I lost track as well. I will have a look and let you know.

[2020-09-23 10:24] AndreasRabe opened #145 "layer CRS not correctly detected"
Issue:

For some raster and vector layers conda QGIS is not able to detect the CRS.

E.g. C:/miniconda/envs/qgis/Library/resources/data/world_map.gpkg|layername=countries

![image](https://user-images.githubusercontent.com/45030715/93992281-a5acc200-fd8d-11ea-84c4-3e5a5230465f.png)

In standard OSGeo4W QGIS the CRS is correctly detected.

Also in the conda console it seams to work:

[code]

<br/>

[2020-09-25 00:15] SrNetoChan commented on #139
It seems that it was possible to build 3.14.16 so I guess whatever was going on is now fixed. Closing

[2020-09-25 00:15] #139 closed

[2020-10-24 15:50] jakimowb opened #149 "No module named 'qgis._3d'"
Issue:

Opening the QGIS python console (CTRL+ALT+P) fails with an `ModuleNotFoundError: No module named 'qgis._3d'`error:

[code]

<br/>
QGIS
<details>

QGIS version | 3.14.16-Pi | QGIS code branch | Release 3.14
-- | -- | -- | --
Compiled against Qt | 5.12.9 | Running against Qt | 5.12.9
Compiled against GDAL/OGR | 3.1.3 | Running against GDAL/OGR | 3.1.4
Compiled against GEOS | 3.8.1-CAPI-1.13.

[2020-10-24 15:54] jakimowb commented on #149
Seems to be related to #89 and may be caused by the `WITH_3D=FALSE` flag.

[2020-11-01 22:30] ThomasG77 commented on #68
You can look at http://download.qt.io/snapshots/ci/qtwebkit/5.212/latest/src/submodules/ maybe for 5.12 webkit version?

[2020-11-01 23:11] gillins commented on #68
Thanks @ThomasG77 - is this the same as the code in https://github.com/qt/qtwebkit ?

If you think this is what we should be using please submit a PR to https://github.com/conda-forge/qtwebkit-feedstock

[2020-11-30 22:46] SrNetoChan commented on #89
This one is fixed at least for QGIS 3.16 on Linux. Can someone please test on Windows and Mac?

[2020-11-30 22:49] SrNetoChan commented on #149
@jakimowb this should work fine on 3.16, but we are missing the windows builds... :(

[2020-11-30 22:51] SrNetoChan commented on #145
@AndreasRabe can you please provide some sample data for testing?

[2020-11-30 22:54] AndreasRabe commented on #145
You can use the **world_map.gpkg** that is shipped with QGIS. On my system it is found here:

[2020-11-30 23:34] SrNetoChan commented on #68
Although we were able to build QGIS with QtWebkit, there are still problems finding module PyQt5.QtWebKit.

@gillins @ocefpaf I wonder if PyQt5 feedstock needs to be changed somehow to be built with QtWebKit too.

[2020-11-30 23:39] SrNetoChan commented on #145
Could not replicate the problem in Linux.

[2020-11-30 23:39] SrNetoChan commented on #145
can you try again for QGIS 3.16.1?

[2020-11-30 23:52] gillins commented on #68
Hmm probably. Not sure what is involved in doing this...

[2020-11-30 23:58] AndreasRabe commented on #145
I'm on a Windows 10 system. I updated a minute ago, but my Conda QGIS is still 3.14.16-Pi. The problem remains.

[2020-12-01 05:01] jakimowb commented on #89
I was able to upgrade to 3.16 (`conda upgrage qgis -c conda-forge`) on macOS 11.0.1. After starting it from the conda shell, the QGIS symbol appears in the Dock, but the QGIS window never showed up, although my system settings allow to install unsigned applications.

For Windows the latest conda-forge QGIS is still 3.14.

[2020-12-01 09:14] SrNetoChan commented on #145
Yes, we are stuck on 3.14 for Windows until we have a new conda-build. I will try 3.14 on windows as I didn't see any problems on Linux.

[2020-12-01 18:43] ocefpaf commented on #145
We'll have a meeting tomorrow with some AnacondaInc folks. I'll ask for a new conda-build release that hopefully will fix this for good.

[2020-12-01 18:54] SrNetoChan commented on #68
@dakcarto hi! Any idea what might be missing? Currently linux and osx builds without problems with QtWebkit, but pyqt5.qtwebkit still can't be found within QGIS

[2020-12-01 19:21] dakcarto commented on #68
Hi Alexandre! The C++ lib and Python binding module were separate recipes:
https://github.com/osgeo-forge/pyqtwebkit-feedstock

That will need ported as well, or added to the C++ recipe.

[2020-12-19 05:23] #68 closed

[2021-01-14 22:43] SrNetoChan commented on #89
@jakimowb we can close this one, right? @juanmanuelrq have you tried with the most recent version of QGIS? should be fixed.

[2021-01-15 13:32] juanmanuelrq commented on #89
hi @jakimowb , I have not tried it, I install qgis without anaconda

[2021-01-17 01:18] SrNetoChan commented on #149
Everything works fine now, even in windows. I am closing this one.

[2021-01-17 01:18] #149 closed

[2021-01-17 01:20] SrNetoChan commented on #89
Closing this one. I have tested in Windows Mac and Linux.

[2021-01-17 01:22] SrNetoChan commented on #145
@AndreasRabe Windows builds are back. can you try the most recent version of QGIS and see if the CRS are detected now?

[2021-01-17 01:26] SrNetoChan commented on #125
@s-m-e if you don't mind, I am closing this down. Please open it up again if you think it makes sense.

[2021-01-17 01:26] #125 closed

[2021-01-17 18:30] jakimowb commented on #89
Thanks @SrNetoChan, I tested it on windows 10 where it worked fine as well 👍

On macOS I still experience the problems described [described here](https://github.com/conda-forge/qgis-feedstock/pull/154#issuecomment-752043164):

In an fresh conda installation, `conda install qgis -c conda-forge` still install
[code]
it can be started, but is build without 3D Maps. Calling `conda update qgis -c conda

[2021-01-17 20:30] SrNetoChan commented on #89
Are you creating separate environments? What version of mac are you trying?

3.16.2 worked fine on my Catalina VM

[2021-01-17 21:50] AndreasRabe commented on #145
I installed version 3.16.3. Unfortunately, the problem still exists.

[2021-01-17 22:21] gillins commented on #89
@jakimowb I agree that creating separate environments would be good. So with `QT_MAC_WANTS_LAYER=1` does the 3D stuff work ok?

`QT_MAC_WANTS_LAYER=1` is needed by all Qt apps on Big Sur (see https://bugreports.qt.io/browse/QTBUG-87014). I was thinking it was best to wait for this to be fixed on Qt rather than doing anything here as I'm not sure what setting this on other versions of OSX might bre

[2021-01-17 22:23] gillins commented on #145
@AndreasRabe Are you install `qgis` into new environment?

[2021-01-17 22:25] AndreasRabe commented on #145
Yes, fresh env with qgis only:

`conda create -n test qgis`

[2021-01-17 23:26] jakimowb commented on #89
@SrNetoChan I tested on macBook Pro with Intel Core i5 and macOS Big Sur 11.1
@gillins yes, with `QT_MAC_WANTS_LAYER=1` I can start QGIS 3.16 (with 3D) in the default and an explicit defined conda environment. But, besides the Qt environmental variable, it is necessary to enforce the latest version available (`qgis=3.16.3`), because:
* `install qgis -c conda-forge` installs 3.14, and
* `install qg

[2021-01-17 23:30] jakimowb commented on #89
I don't know if this is possible, but until the QT vbug is fixed, it could be helpful to mention the  `QT_MAC_WANTS_LAYER=1` in the QGIS installation script.

[2021-01-18 01:38] jakimowb commented on #145
I can confirm the problem on Win10. It seems to be an issue related to `srs.db`
The following test returns True in OSGeo4W, but False in the conda installation:
[code]
As a consequence, it is also impossible to add a custom CRS. To exclude a possible connections to the parallel OSGeo4W installation, I deleted `C:\Users\...\Roaming\QGIS` and `C:\Users\...\AppData\Local\QGIS` before installing the c

[2021-01-18 06:03] gillins commented on #89
@jakimowb What happens if you try: `conda create -n testenv -c conda-forge qgis` ?

[2021-01-18 06:04] gillins commented on #145
I wonder if `Library/resources/srs.db` is already installed by another package...?

[2021-01-18 07:04] jakimowb commented on #89
@gillins `conda create -n testenv -c conda-forge qgis` created me a
python 3.9 environment with QGIS 3.16.3, which runs after setting `QT_MAC_WANTS_LAYER=1`:

<details>
  <summary>Click to expand conda list</summary>

[code]

</details>

[2021-01-18 07:18] gillins commented on #89
Great! Usually best to install into a new env as you may have packages installed that conflict with latest `qgis`...

[2021-01-18 07:48] jakimowb commented on #145
I run a [sqldiff](https://sqlite.org/sqldiff.html) between OSGeo4W and conda `srs.db`, but this did not reveal any difference.

[2021-01-19 06:53] jakimowb commented on #145
The paths returned by `QgsProjUtils.searchPaths()` are slightly different in the way how they refer to the internal `share` folder:
Conda returns returns `...\share`, while (the working) OSGeo4W refers to `..\share\proj`.

[2021-01-19 13:45] jakimowb commented on #145
@AndreasRabe you can fix this problem manually:

1. open your `%CONDA_PREFIX%\Library\bin\qgis.env`
2. ensure that `PROJ_LIB` ends on `share\proj`, e.g.
`PROJ_LIB=D:\miniconda3\envs\qgis_stable\Library\share\proj`

[2021-01-19 23:02] #145 closed

[2021-01-20 07:26] AndreasRabe commented on #145
Thanks a lot! Is working now.

[2021-01-22 01:03] SrNetoChan commented on #89
Is there something we need to do about this one?

[2021-01-22 01:06] gillins commented on #89
No I don't think so. Was leaving it open as I'm still now sure what to do with `QT_MAC_WANTS_LAYER=1` on Big Sur, but this is probably better handled over at qt-feedstock so all Qt apps work...

[2021-01-22 01:06] #89 closed

[2021-01-22 01:28] SrNetoChan commented on #89
Should we open a ticket there?

[2021-01-22 01:34] gillins commented on #89
Maybe. According to https://bugreports.qt.io/browse/QTBUG-87014 it has been fixed in Qt 5.12.11 but conda-forge is still on 5.12.9. Do you feel like putting in a Qt PR to update to 5.12.11 and we'll take it from there?

[2021-01-22 21:42] SrNetoChan commented on #89
I can definitely try!

[2021-01-23 00:40] SrNetoChan commented on #89
Seems that 5.12.11 is not available for download, yet ... Or maybe related to the fact that QT LTS will no longer be available as open source [1]?

[1] - https://www.theregister.com/2021/01/05/qt_lts_goes_commercial_only/

[2021-01-23 04:15] gillins commented on #89
Will be available first half of 2021:

https://wiki.qt.io/Qt_5.12_Release

I hope they make it soon - not having Big Sur support will be quite a problem for some users.

[2021-02-04 15:24] spittssj opened #168 "qgis hangs in fresh install on fresh environment."
- [X] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:
QGIS hangs on startup in a fresh environment on Mac OS X Big Sur. Initially I tried to put it in an existing environment, but that didn't work, so I tried a fresh environment, and it still doesn't

[2021-02-05 02:07] gillins commented on #168
Hi @spittssj can you try `export QT_MAC_WANTS_LAYER=1` before running `qgis` and see if that helps? I think this is a known problem with the version of Qt that conda-forge provides and Big Sur (see https://github.com/conda-forge/qgis-feedstock/pull/154#issuecomment-751894570 and https://github.com/conda-forge/qgis-feedstock/issues/89#issuecomment-765043628).

Basically it is going to be fixed in t

[2021-02-05 11:42] spittssj commented on #168
Yes that fixed it: both in the new virtual environment <code>qgis</code> as well as my project virtual environment <code>comonsit</code>.

<pre><code>
(comonsit) stephenpitts@Ellacuria Code % export QT_MAC_WANTS_LAYER=1
(comonsit) stephenpitts@Ellacuria Code % qgis
	- 'VirtualXPath'	[XML Path Language - XPath]
	- 'VirtualXPath'	[XML Path Language - XPath]
Warning: QWidget::insertAction: Attempt to

[2021-02-05 11:42] #168 closed

[2021-03-07 16:53] hobu opened #179 "OSX Hang"
Updating to the latest causes OSX to hang

[code]

[2021-03-07 21:46] gillins commented on #179
Are you on Big Sur? If so, there is an issue with the older `qt` conda uses (see https://github.com/conda-forge/qgis-feedstock/issues/168). Try `export QT_MAC_WANTS_LAYER=1`...

[2021-03-07 21:56] hobu commented on #179
yep. sorry for not searching. I figured it was fresh to 3.18.0.

☝️ indeed fixes it.

How long until a qt bump?

[2021-03-07 21:56] #179 closed

[2021-03-07 21:58] gillins commented on #179
Not sure, there is some discussion here: https://github.com/conda-forge/pyqt-feedstock/issues/98

[2021-04-12 05:56] jakimowb opened #183 "macOS requires QT_MAC_WANTS_LAYER=1 to show QGIS GUI"
On macOS it has been observed that the QGIS GUI [might not be shown](https://github.com/conda-forge/qgis-feedstock/pull/154#issuecomment-752043164), despite it can be started from the conda shell and a new item appears in the macOS dock.

This can be solved by exporting the environmental variable:

`export QT_MAC_WANTS_LAYER=1`

Preferably this will be fixed in Qt (https://github.com/conda-forge/q

[2021-04-12 07:26] gillins commented on #183
FYI there is some work underway ATM to upgrade Qt which includes the fix for Big Sur (https://github.com/conda-forge/qt-feedstock/pull/189)

Happy to look at PR for readme.md in the meantime.

[2021-05-14 19:30] felipedantas-pi opened #189 "QGIS 3.18 interface does not start in Miniconda with Python 3.9"
I created a new environment and installed QGIS through the Conda-Forge channel and when trying to open the softwate, it loads the modules, but during Python loading it closed unexpectedly without presenting any error or warning message.

I uninstalled Miniconda and installed it again, only now with the version with Python 3.8 Latest ([LINK](https://repo.anaconda.com/miniconda/Miniconda3-latest-Win

[2021-05-14 19:48] ocefpaf commented on #189
Can you add the required debug info for the issue? The results of `conda list` and `conda info` for the failing case.

[2021-05-18 01:18] felipedantas-pi commented on #189
`conda list`
Name                    Version                   Build  Channel
boost-cpp                 1.74.0               h54f0996_3    conda-forge
brotlipy                  0.7.0           py39hb82d6ee_1001    conda-forge
bzip2                     1.0.8                h8ffe710_4    conda-forge
ca-certificates           2020.12.5            h5b45459_0    conda-forge
cairo                     1.

[2021-06-05 10:51] izahn opened #192 "Rebuild for r-base 4.1 compatibility"
It seems there is some incompatibility between the latest `qgis` build and the latest `r-base` build on Linux:

[code]

`conda create` has more to say about it:

[code]
but I don't really understand what that is trying to tell me. As far as I can make out is says that qgis conflicts with itself...

Anyway, I think bumping the qgis version number to get a rebuild with the latest libraries will prob

[2021-06-08 10:24] izahn commented on #192
It turns out the problem is all the way down in `qt`. Closing this in favor of https://github.com/conda-forge/qt-feedstock/issues/193

[2021-06-08 10:24] #192 closed

[2021-09-22 21:09] bhjolly opened #207 "Fresh QGIS conda-forge install won't open on OSX Big Sur (11.6)"
- [x ] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

I have successfully installed QGIS on a brand new miniconda3 installation on Mac OSX 11.6
`$ conda create -n qgis -c conda-forge qgis`

but when I got to run it (activate env then run `qgis` fro

[2021-09-23 01:36] gillins commented on #207
Hi @bhjolly :wink: Try setting:
[code]
First and see if this fixes it (see discussion here: https://github.com/conda-forge/qgis-feedstock/issues/183). This was meant to be fixed by a `qt` update (we are on a really old version) but work seems to have stalled.... Anyway, let us know if that fixes it for you until we have a new `qt`...

[2021-09-23 01:45] bhjolly commented on #207
Awesome, that worked a treat, thanks @gillins ;)

[2021-09-23 01:45] #207 closed

[2021-09-30 23:38] gillins commented on #207
@conda-forge/qgis does anyone know if there is any work underway to solve this? Seems like it would be a problem for all Qt apps on Big Sur... Should we be waiting for a `qt` update, or making the `QT_MAC_WANTS_LAYER=1` hack more global?

[2021-10-06 09:10] SrNetoChan opened #210 "Unhable to import QGIS in windows powershell"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

It seems that the activate.bt script is not suited for windows powershell and QGIS Python path is not added to the PYTHONPATH variable. Everything works fine if one uses the old command line prom

[2021-10-07 03:10] gillins commented on #210
@SrNetoChan I don't know anything about PowerShell, but GDAL has PowerShell support (https://github.com/conda-forge/gdal-feedstock/blob/master/recipe/scripts/activate.ps1) - maybe these scripts could be used as the basis for support in QGIS?

[2022-02-16 17:35] Yuta-Sato-JP opened #228 "Error occurs on the build-in python console"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:
I installed <code>qgis</code> on my MacOS via conda-forge. After launching <code>qgis</code> with <code>QT_MAC_WANTS_LAYER=1</code>, when I opened python console in <code>qgis</code> error came up

[2022-02-16 22:25] gillins commented on #228
I can't seem to reproduce this on Linux with Python 3.8, 3.9 or 3.10. Something specific to OSX maybe? Any ideas @SrNetoChan ?

[2022-02-16 22:37] SrNetoChan commented on #228
Seem something related with MacOS only and python 3.10. here's a similar report for other package.

https://github.com/napari/napari/issues/3741

[2022-02-18 09:24] Yuta-Sato-JP commented on #228
Thank you @gillins & @SrNetoChan, it was an issue with Python compatanility! After creating another env with Python=3.9.5, it was solved!
Much appreciation for the strong support!

[2022-02-18 09:25] #228 closed

[2022-04-29 11:13] amorfinv commented on #183
Thanks for this! Actually it only worked for me if I add quotes to the environment variable.

[code]

[2022-05-13 06:49] amorfinv opened #237 "Native M1 conda"
### Comment:

Hello,

From what I can tell, most dependencies are now available natively in ```osx_arm64``` architecture. The last big holdout was ```pyqt5```. However, that is now available via ```conda-forge``` ([here](https://github.com/conda-forge/qt-main-feedstock))

I looked at QGIS dependencies that come via ```conda-forge``` and it seems like only a couple dependencies had some issues. Sin

[2022-06-05 02:49] izahn opened #240 "qtserialport included in qt"
I believe `qtserialport` is included in both `qt` and `qt-main`, the `qtserialport` dependency can be dropped.

[2022-07-03 16:33] izahn opened #245 "Drop qwtpolar dependency"
Since version 6.2 qwt includes qwtpolar. The qwtpolar dependency should be dropped.

[2022-08-07 13:46] #240 closed

[2022-08-07 13:47] izahn commented on #245
Started working on this in https://github.com/conda-forge/qgis-feedstock/pull/248,  might have to wait until after the `qt-main` migration.

[2022-08-07 13:53] izahn opened #249 "Prepare for qt515 migration"
There are still some migrations that need to be done before this feedstock can be migrated to qt515:

- https://github.com/conda-forge/qjson-feedstock/pull/14
- https://github.com/conda-forge/qca-feedstock/pull/26

@ceholden is the sole maintainer of both those feedstocks, but he hasn't been active lately. Anybody here want to adopt those @conda-forge/qgis ?

[2022-08-24 16:56] dataspun opened #251 "QGIS 3.22 availability"
### Comment:

As others have recently noted the current `conda-forge` version of QGIS is 3.18 which is [apparently EOL](https://github.com/qgis/QGIS/issues/49940#issuecomment-1225259604).  What are the prospects of updating to 3.22 LTR in the near term?  Thanks!

[2022-08-24 22:40] gillins commented on #251
See this PR: https://github.com/conda-forge/qgis-feedstock/pull/250 - seems we are stuck building it. Any help welcome!

[2022-09-11 04:50] dataspun commented on #251
I'm curious what circumstances require conda qgis, versus a regular installation of qgis?  What are the challenges faced in the latter environment?

[2022-09-11 09:47] SrNetoChan commented on #251
As far as I understand, conda-forge was using a very dated version of Qt 5.12.

On the other hand, from 3.20 onwards, QGIS requires Qt 5.15 to build. While the regular installers are prepared directly by folks from the QGIS project, in conda-forge we needed to wait for the enormous work to make Qt 5.15 available.

After that, many QGIS dependencies based on Qt also needed to be updated.

Currently

[2022-09-11 18:02] dataspun commented on #251
I'm actually looking to understand the use case for conda-qgis generally. For instance, what makes the standard install of QGIS challenging for a conda user and vice versa?  Are there use cases where a standard install of QGIS accessed by conda environments is not problematic? Thanks!

[2022-09-11 18:57] SrNetoChan commented on #251
Personally, I have too use cases for qgis installation from conda.

1 - Allows me to have two versions of QGIS installed on my linux machines. Normally I use the conda installation for the LTR release.
2 - install qgis along with other packages to use in Python development, I find it convenient to setup dev environment in VS Code.

[2022-09-11 18:58] SrNetoChan commented on #251
Oh, another benefit is that using conda, the installation process is exactly the same for all operating systems.

[2022-09-11 22:33] gillins commented on #251
Also, the conda-forge `gdal` has more drivers meaning I can open more formats in QGIS....

[2022-09-11 23:14] SrNetoChan commented on #251
Really? Even compared with windows installers with some proprietary drivers?

[2022-09-11 23:24] gillins commented on #251
Actually, I haven't tried on Windows for a long time - should double check but KEA is one of the main formats I use. I know this is installable as a plugin from osgeo4w, but just works out of the box with conda-forge.

[2022-09-11 23:35] SrNetoChan commented on #251
Now you made me read about that format, and your name pops several times :-)

[2022-09-22 20:43] consideRatio opened #256 "Installing qgis via conda-forge forces seemingly unwarranted downgrades"
As can be reproduced by building this Dockerfile, installing `qgis` leads to massive changes that doesn't really seem to make sense to me. I suspect that the `qgis` feedstock pins the requirements super tight, forcing specific versions (builds of versions even!) to be used.

Super thankful if someone can manage to resolve this. I've tried to understand how to do it myself but failed. Thank you for

[2022-09-22 22:45] gillins commented on #256
`qgis` uses the global pinning that conda-forge provides. The problem I think you are seeing is that current builds of `qgis` a very old (along with the pins) as upstream changed their `qt` requirements and we've only just been able to update it... Anyway, not all is lost - keep an eye on https://github.com/conda-forge/qgis-feedstock/pull/253 and we should have an updated `qgis` that resolves this

[2022-09-23 01:38] consideRatio commented on #256
Ah, thanks for clarifying this @gillins! I guess there is no action point then, so maybe closing the issue makes the most sense.

I'll let you reopen this instead of having to close it if you think otherwise :) As a maintainer I prefer not needing to close peoples issues/prs etc =)

[2022-09-23 01:38] #256 closed

[2022-10-10 20:07] yuvipanda opened #263 "Fails to start with message about OpenCL"
### Solution to issue cannot be found in the documentation.

- [X] I checked the documentation.

### Issue

When I try to start qgis, it fails with the following info:

[code]

### Installed packages

[code]

### Environment info

[code]

[2022-10-10 20:11] yuvipanda commented on #263
If I install `pyopencl`, the error goes away - but is instead replaced with a error about libGL not being found.

[2022-10-10 20:18] yuvipanda commented on #263
https://github.com/conda-forge/pygridgen-feedstock/issues/10 is perhaps relevant

[2022-10-10 20:51] yuvipanda commented on #263
With that, I'm running into problems with it trying to find `libgsl.25`. the gsl from conda-forge only provides libgsl.27.

[2022-10-10 23:03] gillins commented on #263
@izahn could this be related to your local build picking up different libs?

[2022-10-10 23:51] izahn commented on #263
Possible, but I can't reproduce the problem. Can you?

[2022-10-11 00:18] gillins commented on #263
No I can't. All seems fine in a new environment for me.

@yuvipanda can you install just `qgis` into a new environment and confirm it works?

[2022-10-11 08:30] SrNetoChan commented on #263
I can't reproduce it either on my linux machines. It seems that @yuvipanda have some mixed channels I see some packages from pypi in his list. So definitely try to install qgis in a clean enviornment.

[2022-10-11 11:36] SrNetoChan commented on #251
3.22 is no available on conda-forge channel.

[2022-10-11 11:36] #251 closed

[2022-10-11 11:38] SrNetoChan commented on #249
@izahn I guess we can close this one. Please reopen in case I am not understand it well

[2022-10-11 11:43] SrNetoChan commented on #183
@amorfinv Is this still true with the new 3.22 package?
@gillins Is this something we could change on our recipe to make this fix permanent?

[2022-10-11 11:46] SrNetoChan commented on #72
@mccarthyryanc can you try with a newer version of QGIS? maybe that was fixed (or not...)

[2022-10-11 13:57] amorfinv commented on #183
Hello @SrNetoChan,

I no longer need this environment variable for 3.22. It works without it!

However, I still get many warnings.

[code]

[2022-10-11 14:13] ocefpaf commented on #263
Probably not related to the `pypi` packages but I bet @yuvipanda is trying to run that in a docker image and some X11 stuff, that we expected to exist on users machine, is missing. I'll investigate and see what would be the best fix, apt-install them or conda install if we have them.

[2022-10-11 14:37] SrNetoChan commented on #183
As long its warnings... I am going to close this ticket. Please feel free to open a new one in case does warnings affect your work.

[2022-10-11 14:39] ocefpaf commented on #263
@yuvipanda can you try to yum install `mesa-libGL` or the equivalent on your docker image? These are always present in user environments and are not supposed to be installed by conda. Note that you may need to set a `DISPLAY` too.

[2022-10-11 14:59] yuvipanda commented on #263
Yep, that's right - it was in a docker image. https://github.com/berkeley-dsep-infra/datahub/tree/staging/deployments/cee/image has the config! I installed `libgl1-mesa-glx` which is the equivalent and that fixed the issue for GL. I think the conda related issues would be:

1. Why does it want the wrong version of libgsl? libgsl is coming from conda, not apt
2. What is the deal with OpenCL?

I thi

[2022-10-11 15:27] ocefpaf commented on #263
No idea. I could not reproduce these two locally. That may be due to our new Linux build\* or it may be just some some oddities due to the docker image. However, those are not expected to be in the user system, like libgl, those should be conda installed (if they are really missing but their linkage may be at question*\).

[2022-10-11 16:07] yuvipanda commented on #263
I'll try make a reproducible minimal example shortly.

If I'm reading this correctly, both OpenCL and gsl should be installed by conda, right?

[2022-10-11 16:24] izahn commented on #263
Because you have installed `gsl 2.7.1` from the `defaults` channel instead of from the `conda-forge` channel. Mixing `defaults` and `conda-forge` is not recommended and is known to cause things to break.

Not sure about this one, the opencl situation seem complicated in general.

[2022-10-11 16:38] yuvipanda commented on #263
@izahn oooh, I completely missed the mixing! I have no idea how *that* happened, given I explicitly say 'conda-forge' in https://github.com/berkeley-dsep-infra/datahub/blob/staging/deployments/cee/image/environment.yml#L2. I'll try make a reproducible example and see.

[2022-10-11 16:44] ocefpaf commented on #263
Oops. I missed that too! Sorry @izahn!

That doesn't matter for conda if your local `.condarc` has defaults in it. In our docs we recommend a `.condarc` with only conda-forge and strict channel enabled.

[code]

[2022-11-07 21:54] dataspun commented on #251
Re-reading this comment I see you intended to say **3.22 is _now_ available** which is great news!

[2022-11-07 23:28] SrNetoChan commented on #251
@dataspun ups... sorry!

[2022-11-30 22:35] gillins commented on #210
Did you manage to work this one out @SrNetoChan ?

[2022-11-30 22:40] SrNetoChan commented on #210
Didn't try much. Seems that PowerShell is not that popular for windows users.